@model Sample.WebUI.Models.Account.AccountRegisterViewModel

<form method="post">
    <div class="mb-3">
        <label for="email" class="form-label">E-Posta Adresi</label>
        <input type="email" class="form-control" id="email" asp-for="Email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Şifre</label>
        <input type="password" class="form-control" id="password" asp-for="Password" required>
    </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Şifre</label>
        <input type="password" class="form-control" id="confirmPassword" asp-for="ConfirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
<div class="text-danger p-2">
    @Html.ValidationSummary()
</div>